body{
background:white;
}

.navbar{
  background-color:grey; overflow: hidden; margin:-8; margin-bottom:0;
}

.navbar a {
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

.navbar a.active{
  margin-left:10px;
  margin-right:10px;
}

.navbar a.active img{
  width:100;
  height:47;
}

.navbar a.rest {
  margin-right:14px;
  padding: 14px 16px;
}

.navbar a.rest:hover {
  background-color: #04AA6D;
  color: white;
}

.navbar a.account{
  float:right;
  margin-right:10px;
  margin-left:14px;
  padding: 14px 16px;
}

.navbar a.account img{
  width:90;
  height:20;
}

.nanodiv{
  margin-top:20%;
  margin-right:25%;
  margin-left:25%;
  margin-bottom:25%;
}

.nanodiv table tr td img{
  margin-bottom:10%;
}

.nanodiv table tr td{
  text-align:center; font-family: Helvetica;
}
